@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format(woff2);
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff') format(woff);
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff2') format(woff2);
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff') format(woff);
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format(woff2);
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff') format(woff);
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'enor Sans';
    src: url('../fonts/Tenor Sans.woff2') format(woff2);
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'enor Sans';
    src: url('../fonts/Tenor Sans.woff') format(woff);
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}