html,
body {
	height: 100%;/*sticky footer*/
	display: flex;/*sticky footer*/
	flex-direction: column;/*sticky footer*/
	margin: 0;
	scroll-behavior: smooth;
	font-family: 'Montserrat';
	font-size: 20px;
	font-weight: 500;
	color: #fff;
 }
html{
	font-size: 10px;
}
body > * {
	flex-shrink: 0;
	/*sticky footer*/
  }
.footer{
	margin-top: auto;/*sticky footer*/
}
button{
	cursor: pointer;
}
.button{
	display: block;
	font-weight: 700;
	color: #fff;
	border: none;
	border-radius: 3px;
	background: #F59F80;
	text-align: center;
	font-size: 1.6rem;
	transition: all .4s ease-in;
}
.button:hover{
	background: #eb764b;
	transition: all .4s ease-in;
}
.container{
	max-width: 122rem;
	margin: 0 auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.title{
	font-size: 9.5rem;
	font-weight: 700;
	color: #91CAAE;
}
